.main-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.main-navigation .nav {
    display: none;
    background-color: var(--BGDefault);
    z-index: 4000;
    text-align: center;
}

.main-navigation .main-menuHamburguer:focus ~ .nav {
    display: inline-flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
