.main-action {
    padding: 30px 0;
    color: var(--Color-Tesxt);

    display: block;
    font-weight: 500;
    text-decoration: none;
}

.main-action:hover {
    background-color: var(--BGSecond);
    transition: all cubic-bezier(1,1.31,.39,1.33) 0.700s;
}