.main-menuHamburguer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 80px;
    padding: 15px 30px;

    background-color: transparent;
    transition: all cubic-bezier(1,1.31,.39,1.33) 0.300s;
}

.main-menuHamburguer:focus {
    background-color: var(--BGSecond) ;
    transition: all cubic-bezier(1,1.31,.39,1.33) 0.300s;
    width: 100%;
    height: 80px;
    z-index: 3000;
}

.main-menuHamburguer:hover {
    background-color: var(--BGSecond) ;
}

.main-menuHamburguer .menu{
    background-color: rgb(51, 51, 51);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main-menuHamburguer .menu:nth-child(1) {
    height: 5px;
    width: 40px;
    border-radius: 10px;
    transition: width cubic-bezier(1,0.5,.39,1.33) 0.750s;
}
    .main-menuHamburguer:focus > .menu:nth-child(1) {
        width: 0px;
    } 

.main-menuHamburguer .menu:nth-child(2) {
    height: 5px;
    width: 40px;
    border-radius: 10px;
    transition: all cubic-bezier(1,1.31,.39,1.33) 0.700s;
}
    .main-menuHamburguer:focus > .menu:nth-child(2) {
        transform:rotate(50deg);
        -ms-transform:rotate(50deg);
        -moz-transform:rotate(50deg); 
        -webkit-transform:rotate(50deg);
        -o-transform:rotate(50deg);
        
    } 

.main-menuHamburguer .menu:nth-child(3) {
    height: 5px;
    width: 40px;
    border-radius: 10px;
    transition: all cubic-bezier(1,1.31,.39,1.33) 0.300s;
}
    .main-menuHamburguer:focus > .menu:nth-child(3) {
        transform:rotate(-50deg);
        -ms-transform:rotate(-50deg);
        -moz-transform:rotate(-50deg);
        -webkit-transform:rotate(-50deg);
        -o-transform:rotate(-50deg);
        margin: -3px;
    } 
